@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Merriweather+Sans&family=Poller+One&family=Syncopate&display=swap');

.outer {
    width: 100hh;
    height:100vh;
    /* background-color: blue; */
    display: flex;
}

.left {
    background-color: aqua;
    width: 60%;
    /* float: left; */
    /* background-image: url('../assets/background.png');
    background-repeat: no-repeat; */
    /* background-size: fill; */
    /* background-size: contain; */
    /* background-size: 100vh ; */
}

.right {
    /* background-color: red; */
    width: 40%;
    float: right;
    display: flex;
    vertical-align: center;
    background-color: rgb(199, 199, 245);
}

.topic-name {
    border-collapse: collapse;
    align-self: center;
    border: white;
    margin: auto;
}

.button-text {
    font-family: 'Merriweather Sans', sans-serif;
}

.button-text2 {
    font-family: 'Merriweather Sans', sans-serif;
}

.topic-name th {
    font-size: 5.5em;
    padding: 20px;
    font-family: 'Poller One', cursive;
    border: white;
    text-align: center;
}

.topic-name td {
    font-family: 'Syncopate', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    border: white;
    text-align: center;
}

.background, .output {
    padding: 20px;
}

h1 {
    font-family: 'Poller One', cursive;
    text-align: center;
    font-size: 3.5em;
    color:rgb(101, 2, 2);
}

h2 {
    font-family: 'Syncopate', sans-serif;
    font-weight: bolder;
    color: blue;
    padding-top: 20px;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5em;
}

hr {
    border: 4px solid red;;
}

.algo-image {
    background-image: url('algorithm.png');
    height: 300px;
    width: 910px;
}

.cfg {
    background-image: url('cfg.png');
    height: 120px;
    width: 100px;
}

.table-image {
    background-image: url('table.png');
    height: 300px;
    width: 928px;
}

.first {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: center;
    border: 1px solid black;
}

.second {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: center;
    border: 1px solid blue;
}

.string {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: center;
    width: 500px;
    border: 1px solid red;
}

.cyk-table {
    border: 2px solid black;
}

.cyk-table td {
    border: 2px solid black;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2em;
    padding: 5px;
}

.cyk-table thead {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
} 

.operation-table{
    border: 2px solid black;
}

.operation-table td {
    border: 2px solid black;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.operation-table thead {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
} 


.button-text:hover span{
    display: none;
}

.button-text:hover:before{
    content: "⬅️";
}

#intro_page_try:hover:before{
    content: "Try an example➡️";
}
#intro_page_know:hover:before{
    content: "Know More about the algorithm➡️";
}

.show123{
    visibility: visible;
}
.hide123{
    visibility: hidden;
}
